spring:
  application:
    name: hello-world
  profiles:
    default: ${SPRING_PROFILES_DEFAULT:h2}
    active: ${SPRING_PROFILES_ACTIVE:h2}
  web:
    resources:
      add-mappings: false
server:
  port: ${PORT:8080}
  error:
    whitelabel:
      enabled: false

springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    try-it-out-enabled: true
    operations-sorter: method
    tags-sorter: alpha
  show-actuator: false
  default-consumes-media-type: application/json
  default-produces-media-type: application/json

# Logging configuration
logging:
  level:
    root: INFO
    dev.hieu.springboothelloworld: DEBUG
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

# Actuator configuration
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: when-authorized
  info:
    env:
      enabled: true
